<section class="callout">
  <h1>Better Government Toolkit</h1>

  <div class="usa-grid">

    <div class="usa-width-one-half">
      <img src="../assets/images/icons/culture.png" alt="">
      <h2><a href="../toolkit/culture/">Build a 21st Century Culture and Workforce</a></h2>
      <p>Learn about modern hiring practices, innovative acquisitions, and how create a culture of innovation within your agency.</p>
      <ul>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Creating a Culture of Innovation</a></li>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Launching an Innovation Lab</a></li>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Hiring a Chief Innovation Officer</a></li>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Tour of Duty Hiring</a></li>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Innovative Acquisitions and Procurement</a></li>
      </ul>
    </div>

    <div class="usa-width-one-half">
      <img src="{../assets/images/icons/delivery.png" alt="delivery-icon">
      <h2><a href="../toolkit/delivery/">Improve Government Services Delivery</a></h2>
      <p>Learn more about innovative methods to bring the way we do work and our services into the 21st century.</p>
      <ul>
        <li>Human-Centered Design</li>
        <li>Agile</li>
        <li>Lean</li>
        <li>Evidence-Based Decision-Making</li>
      </ul>
    </div>

  </div>

  <div class="usa-grid">
    <div class="usa-width-one-half">
      <img src="../assets/images/icons/culture.png" alt="">
      <h2><a href="../toolkit/culture/">Build a 21st Century Culture and Workforce</a></h2>
      <p>Learn about modern hiring practices, innovative acquisitions, and how create a culture of innovation within your agency.</p>
      <ul>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Creating a Culture of Innovation</a></li>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Launching an Innovation Lab</a></li>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Hiring a Chief Innovation Officer</a></li>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Tour of Duty Hiring</a></li>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Innovative Acquisitions and Procurement</a></li>
      </ul>
    </div>

    <div class="usa-width-one-half">
      <a href="../toolkit/delivery.html"><img src="{../assets/images/icons/delivery.png" alt="delivery-icon"></a>
      <h2><a href="../toolkit/delivery/">Improve Government Services Delivery</a></h2>
      <p>Learn more about innovative methods to bring the way we do work and our services into the 21st century.</p>
      <ul>
        <li>Human-Centered Design</li>
        <li>Agile</li>
        <li>Lean</li>
        <li>Evidence-Based Decision-Making</li>
      </ul>
    </div>
  </div>

  <ul>
    <li>
      <h2><a href="../toolkit/problems/">Solve Complex Societal and Governmental Problems</h2>
      <img src="../assets/images/icons/solutions.png" alt="">
      <p>Learn more about how collaborations across and outside the government can solve our country’s biggest problems.</p>
    </li>
    <li>
      <h2><a href="../toolkit/innovators/">Bring Innovators into Government</h2>
      <img src="../assets/images/icons/innovators.png" alt="">
      <p>Learn more about how the government can make use of new ways to engage the public and startup companies to innovate.</p>
    </li>
  </ul>
</section>
