<section class="toolkit-home-better-gov-callout">
  <div class="usa-grid">

    <h2>Better Government Toolkit</h2>
    <h3>Resources to build a better government through innovation.</h3>

    <div class="vertical usa-width-one-half">
      <a href="{{ site.baseurl }}/toolkit/culture/"><img class="icon" src="{{ site.baseurl }}/assets/images/icons/culture.png" alt="culture-icon"></a>
      <h4><a href="{{ site.baseurl }}/toolkit/culture/">Culture and Workforce</a></h4>
      <ul>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Creating a Culture of Innovation</a></li>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Launching an Innovation Lab</a></li>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Hiring a Chief Innovation Officer</a></li>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Tour of Duty Hiring</a></li>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Innovative Acquisitions and Procurement</a></li>
      </ul>
    </div>

    <div class="vertical usa-width-one-half">
      <a href="{{ site.baseurl }}/toolkit/delivery/"><img class="icon" src="{{ site.baseurl }}/assets/images/icons/delivery.png" alt="delivery-icon"></a>
      <h4><a href="{{ site.baseurl }}/toolkit/delivery/">Government Services Delivery</a></h4>
      <ul>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Human-Centered Design</a></li>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Agile</a></li>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Lean</a></li>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Evidence-Based Decision-Making</a></li>
      </ul>
    </div>

  </div>

  <div class="usa-grid">

    <div class="vertical usa-width-one-half">
      <a href="{{ site.baseurl }}/toolkit/solutions/"><img src="{{ site.baseurl }}/assets/images/icons/solutions.png" alt="solutions-icon" class="icon"></a>
      <h4><a href="{{ site.baseurl }}/toolkit/solutions/">Solve Complex Problems</a></h4>
      <ul>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Communities of Practice</a></li>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Grand Challenges</a></li>
      </ul>
    </div>

    <div class="vertical usa-width-one-half">
      <a href="{{ site.baseurl }}/toolkit/innovators/"><img src="{{ site.baseurl }}/assets/images/icons/innovators.png" alt="innovators-icon" class="icon"></a>
      <h4><a href="{{ site.baseurl }}/toolkit/innovators/">Bring Innovators into Government</a></h4>
      <ul>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Engaging the Public</a></li>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Engaging Startups</a></li>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Prizes + Challenges</a></li>
        <li><a href="{{ site.baseurl }}/toolkit/culture/">Citizen Science + Crowdsourcing</a></li>
      </ul>
    </div>
  </div>
</section>
