<section class="usa-grid toolkit-home-better-gov-callout">
  <h2>Better Government Toolkit</h2>
  <ul>
    <li class="">
      <a class="hidden" href="{{ site.baseurl }}/toolkit/culture/">
        <img src="{{ site.baseurl }}/assets/images/icons/culture.png" alt="culture-icon" width="100px">
      </a>

      <h4>Build a 21st Century Culture and Workforce</h4>

      <p>How might we build a modern government? Topics covered:</p>

      <ul>
        <li>Creating a Culture of Innovation</li>
        <li>Launching an Innovation Lab</li>
        <li>Hiring a Chief Innovation Officer</li>
        <li>Tour of Duty Hiring</li>
        <li>Innovative Acquisitions and Procurement</li>
      </ul>

    </li>

    <li>
      <a class="hidden" href="{{ site.baseurl }}/toolkit/delivery/">
        <img src="{{ site.baseurl }}/assets/images/icons/delivery.png" alt="delivery-icon" width="100px">
      </a>
      <h4>Improve Government Services Delivery</h4>

        <p>How might we provide better services to the public? Topics covered:</p>
        <ul>
          <li>Human-Centered Design</li>
          <li>Agile</li>
          <li>Lean</li>
          <li>Evidence-Based Decision-Making</li>
        </ul>
    </li>

    <li>
      <a class="hidden" href="{{ site.baseurl }}/toolkit/solutions/">
        <img src="{{ site.baseurl }}/assets/images/icons/solutions.png" alt="solutions-icon" width="100px">
      </a>
      <h4>Solve Complex Societal and Governmental Problems</h4>
      <p>How might we solve complex problems? Topics covered:</p>
      <ul>
        <li>Communities of Practice</li>
        <li>Grand Challenges</li>
      </ul>
    </li>

    <li>
      <a class="hidden" href="{{ site.baseurl }}/toolkit/innovators/">
        <img src="{{ site.baseurl }}/assets/images/icons/innovators.png" alt="innovators-icon" width="100px">
      </a>
      <h4>Bring Innovators into Government</h4>
      <p>How might we engage the public and innovators across the world? Topics covered:</p>
      <ul>
        <li>Engaging the Public</li>
        <li>Engaging Startups</li>
        <li>Prizes + Challenges</li>
        <li>Citizen Science + Crowdsourcing</li>
      </ul>
    </li>
  </ul>
</section>
